{% extends "base.html" %}

{% block extra_css %}
    <style>
        .article {
            margin-bottom: 25px;
        }
    </style>
{% endblock %}

{% block yield %}
<div id="content" class="container">
    <div class="row">
        <div class="span12">
            <h1>Recent Blog Posts</h1>
            {% for article in articles %}        
                <div class="article">
                    {% include 'article_infos.html' %}
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> 
                    {{ article.summary }}
                    <a class="btn btn-large btn-success read-more" href="{{ SITEURL }}/{{ article.url }}">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
