<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <!--  ___                     ___           ___                 
             /  /\      ___          /__/\         /  /\          ___   
            /  /::\    /  /\         \  \:\       /  /::\        /__/|  
           /  /:/\:\  /  /:/          \  \:\     /  /:/\:\      |  |:|  
          /  /:/~/:/ /__/::\      _____\__\:\   /  /:/~/:/      |  |:|  
         /__/:/ /:/  \__\/\:\__  /__/::::::::\ /__/:/ /:/___  __|__|:|  
         \  \:\/:/      \  \:\/\ \  \:\~~\~~\/ \  \:\/:::::/ /__/::::\  
          \  \::/        \__\::/  \  \:\  ~~~   \  \::/~~~~     ~\~~\:\ 
           \  \:\        /__/:/    \  \:\        \  \:\           \  \:\
            \  \:\       \__\/      \  \:\        \  \:\           \__\/
             \__\/                   \__\/         \__\/             -->

        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Monoton"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css"/>
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a href="{{ SITEURL }}" class="brand pull-left">{{ SITENAME }}</a>
                    <ul class="nav pull-right">
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        {% block yield %}{% endblock %}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3>Want to be a contributor?</h3>
                        <p>Clone our code on BitBucket, find an issue on our
                            tracker that you can fix and do a pull request. If
                            your code matches our general style and it works
                            we'll merge it. It's that easy!</p>
                    </div>
                    <div class="span2">
                        <h3>Links</h3>
                        <ul class="nav">
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="span2">
                        <h3>Social</h3>
                        <ul class="nav">
                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <p>&copy; 2013 Pinry Contributors | Site compiled with <a href="http://getpelican.com/">Pelican</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block extra_js %}{% endblock %}

        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39005284-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </body>
</html>
