<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <!--  ___                     ___           ___                 
             /  /\      ___          /__/\         /  /\          ___   
            /  /::\    /  /\         \  \:\       /  /::\        /__/|  
           /  /:/\:\  /  /:/          \  \:\     /  /:/\:\      |  |:|  
          /  /:/~/:/ /__/::\      _____\__\:\   /  /:/~/:/      |  |:|  
         /__/:/ /:/  \__\/\:\__  /__/::::::::\ /__/:/ /:/___  __|__|:|  
         \  \:\/:/      \  \:\/\ \  \:\~~\~~\/ \  \:\/:::::/ /__/::::\  
          \  \::/        \__\::/  \  \:\  ~~~   \  \::/~~~~     ~\~~\:\ 
           \  \:\        /__/:/    \  \:\        \  \:\           \  \:\
            \  \:\       \__\/      \  \:\        \  \:\           \__\/
             \__\/                   \__\/         \__\/             -->

        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Monoton"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/flat-ui.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css"/>
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a href="{{ SITEURL }}" class="brand pull-left">{{ SITENAME }}</a>
                    <ul class="nav pull-right">
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}" class="btn btn-small">{{ name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        {% block yield %}{% endblock %}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3>Want to be a contributor?</h3>
                        <p>Clone our code on BitBucket, find an issue on our
                            tracker that you can fix and do a pull request. If
                            your code matches our general style and it works
                            we'll merge it. It's that easy!</p>
                    </div>
                    <div class="span2">
                        <h3>Links</h3>
                        <ul class="nav">
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="span2">
                        <h3>Social</h3>
                        <ul class="nav">
                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <p>&copy; 2013 Pinry Contributors | Site made with <a href="http://getpelican.com/">Pelican</a> and <a href="http://designmodo.github.com/Flat-UI/">Flat UI</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
