{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block yield %}
<div class="container">
    <div class="row">
        <div class="span6">
            <h2>Contact Pinry Devs</h2>
            <p>The quickest and easiest way to get in touch with us is via email
                at <a href="mailto:devs@getpinry.com">devs@getpinry.com</a>.
                However, you can contact our active contributors by visiting
                their websites, we have many ways to get in touch with us from
                there.</p>
  
            <h2>Active Pinry Contributors</h2>
            <ul>
                <li>Isaac Bythewood &lt;<a href="http://isaacbythewood.com/">isaacbythewood.com</a>&gt;</li>
                <li>Krzysztof Klimonda &lt;<a href="http://syntaxhighlighted.com/">syntaxhighlighted.com</a>&gt;</li>
            </ul>
        </div>
        <div class="span6">
            <h2>Found a bug or want a feature?</h2>
            <p>Add it to our issue tracker on GitHub! We double check and fix all
                bugs and are happy to read about your ideas for Pinry. However,
                please do a quick search through the issues to make sure it hasn't
                already been added.</p>
            <p><a href="https://github.com/pinry/pinry/issues/">GitHub Issue Tracker</a></p>

            <h2>Want to be a contributor?</h2>
            <p>The best way is to clone our BitBucket repo, build out a feature
                or fix some bugs in a clean style that matches our own and if we
                like it we'll merge it! If you continuously provide Pinry with
                good updates we'll contact you or you can contact us with your
                track record and we can discuss getting you commit privileges.</p>
        </div>
    </div>
</div>
{% endblock %}
