{% extends "base.html" %}

{% block extra_css %}
    <style>
        .navbar {
            margin-bottom: 0;
        }

        #header {
            background-image: url('{{ SITEURL }}/theme/images/index/header-background.jpg');
            background-position: center center;
            background-attachment: fixed;
            height: 700px;
            -webkit-box-shadow: 0 1px 0 #bbb;
               -moz-box-shadow: 0 1px 0 #bbb;
                    box-shadow: 0 1px 0 #bbb;
            border-bottom: 1px solid #bbb;
            margin-bottom: 20px;
        }

        #header-overlay {
            background: rgba(255, 255, 255, 0.7);
            height: 700px;
        }

        #header-content {
            position: absolute;
            top: 20%;
            left: 50%;
            width: 800px;
            margin-left: -400px;
            text-align: center;
        }

        #header #title {
            font-family: 'Monoton', sans-serif;
            font-weight: normal;
            font-size: 10em;
            line-height: 1em;
            color: #275173;
        }

        #header #description {
            color: #275173;
            font-size: 2em;
            margin-bottom: 30px;
        }

        .article {
            margin-bottom: 25px;
        }
    </style>
{% endblock %}

{% block yield %}
<div id="header">
    <div id="header-overlay">
        <div id="header-content">
            <h1 id="title">Pinry</h1>
            <h2 id="description">A tiling image board system for people who want to save, tag, and share images, videos and webpages.</h2>
            <a href="https://bitbucket.org/pinry/pinry/" class="btn btn-large btn-success">Pinry on BitBucket</a>
            <a href="https://github.com/pinry/pinry/" class="btn btn-large btn-success">Pinry on GitHub</a>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row demo-tiles">
        <div class="span3">
          <div class="tile">
            <img class="tile-image big-illustration" alt="" src="{{ SITEURL }}/theme/images/illustrations/compass.png">
            <h3 class="tile-title">Open Source</h3>
            <p>We open source the heart of Pinry, you can grab it and host it yourself on any server that supports Python.</p>
            <a class="btn btn-primary btn-large btn-block" href="https://bitbucket.org/pinry/pinry/">Get Source</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="{{ SITEURL }}/theme/images/illustrations/settings.png">
            <h3 class="tile-title">Easy to Customize</h3>
            <p>If you host it yourself the limit is your imagination, on Pinry Hosted give you as many settings as possible.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Read Docs</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="{{ SITEURL }}/theme/images/illustrations/gift.png">
            <h3 class="tile-title">Continuous Releases</h3>
            <p>We try to release new features as fast as possible, and do our best to make upgrades painless.</p>
            <a class="btn btn-primary btn-large btn-block" href="https://bitbucket.org/pinry/pinry/downloads#tag-downloads">View Releases</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image big-illustration" alt="" src="{{ SITEURL }}/theme/images/illustrations/share.png">
            <h3 class="tile-title">Share With Friends</h3>
            <p>Whether you host your own board or host with us you can invite friends to view your boards and pins.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Social</a>
          </div>

        </div>
      </div>
    <div class="row">
        <div class="span12">
            <h1>Recent Blog Posts</h1>
            {% for article in articles_page.object_list %}        
                <div class="article">
                    {% include 'article_infos.html' %}
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> 
                    {{ article.summary }}
                    <a class="btn btn-large btn-success read-more" href="{{ SITEURL }}/{{ article.url }}">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        $(window).load(function() {
            function maxHeaderHeight() {
                if ($(window).height() < 700) {
                    $('#header').height($(window).height()-70);
                }
            }

            maxHeaderHeight();

            $(window).resize(function() {
                maxHeaderHeight();
            });
        });
    </script>
{% endblock %}
