{% extends "base.html" %}

{% block extra_css %}
    <style>
        .navbar {
            margin-bottom: 0;
        }

        #header {
            background-image: url('{{ SITEURL }}/theme/images/index/header-background.jpg');
            background-position: center center;
            background-attachment: fixed;
            height: 500px;
            -webkit-box-shadow: 0 1px 0 #bbb;
               -moz-box-shadow: 0 1px 0 #bbb;
                    box-shadow: 0 1px 0 #bbb;
            border-bottom: 1px solid #bbb;
            margin-bottom: 20px;
        }

        #header-overlay {
            background: rgba(255, 255, 255, 0.7);
            height: 500px;
        }

        #header-content {
            position: absolute;
            top: 13%;
            left: 50%;
            width: 800px;
            margin-left: -400px;
            text-align: center;
        }

        #header #title {
            font-family: 'Monoton', sans-serif;
            font-weight: normal;
            font-size: 10em;
            line-height: 1em;
            color: #275173;
        }

        #header #description {
            color: #275173;
            font-size: 2em;
            margin-bottom: 30px;
        }

        #header .btn-small {
            font-size: 14px;
        }

        #as-seen-on img {
            height: 70px;
            margin: 0 30px 20px 30px;
        }
    </style>
{% endblock %}

{% block yield %}
<div id="header">
    <div id="header-overlay">
        <div id="header-content">
            <h1 id="title">Pinry</h1>
            <h2 id="description">A tiling image board system for people who want to save, tag, and share images, videos and webpages.</h2>
            <p>
                <a href="https://bitbucket.org/pinry/pinry/src/" class="btn btn-large">View The Code (BitBucket)</a>
                <a href="https://bitbucket.org/pinry/pinry/get/v0.5.3.zip" class="btn btn-large">Download v0.5.3 (885 KB)</a>
            </p>
            <p>
                <a href="https://github.com/pinry/pinry/" class="btn btn-small btn-success">Github Mirror</a>
                <a href="https://bitbucket.org/pinry/pinry/issues/" class="btn btn-small btn-success">Issue Tracker</a>
                <a href="#" class="btn btn-small btn-success">Demo Board</a>
            </p>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row demo-tiles">
        <div class="span3">
            <div class="tile">
                <img class="tile-image big-illustration" alt="" src="{{ SITEURL }}/theme/images/illustrations/compass.png">
                <h3 class="tile-title">Open Source</h3>
                <p>We open source the heart of Pinry, you can grab it and host it yourself on any server that supports Python.</p>
                <a class="btn btn-primary btn-large btn-block" href="https://bitbucket.org/pinry/pinry/src/">Get Source</a>
            </div>
        </div>
        <div class="span3">
            <div class="tile">
                <img class="tile-image" alt="" src="{{ SITEURL }}/theme/images/illustrations/settings.png">
                <h3 class="tile-title">Easy to Customize</h3>
                <p>If you host it yourself the limit is your imagination, on Pinry Hosted give you as many settings as possible.</p>
                <a class="btn btn-primary btn-large btn-block" href="/docs/">Read Docs</a>
            </div>
        </div>
        <div class="span3">
            <div class="tile">
                <img class="tile-image" alt="" src="{{ SITEURL }}/theme/images/illustrations/time.png">
                <h3 class="tile-title">Continuous Releases</h3>
                <p>We try to release new features as fast as possible, and do our best to make upgrades painless.</p>
                <a class="btn btn-primary btn-large btn-block" href="https://bitbucket.org/pinry/pinry/downloads#tag-downloads">View Releases</a>
            </div>
        </div>
        <div class="span3">
            <div class="tile">
                <img class="tile-image" alt="" src="{{ SITEURL }}/theme/images/illustrations/gift.png">
                <h3 class="tile-title">Lots of Features</h3>
                <p>Check out our tour to see the core list of features but if you want to learn more read the docs.</p>
                <a class="btn btn-primary btn-large btn-block" href="/tour/#bookmarklet">See Tour</a>
            </div>
        </div>
    </div>

    <div class="row" id="as-seen-on">
        <div class="span12" align="center">
            <p>
                <a href="http://usatoday30.usatoday.com/tech/products/story/2012-04-27/pinterest-pinry-private-pinning/54584308/1" target="_blank"><img src="{{ SITEURL }}/theme/images/as-seen-on/usa-today.png"/></a>
                <a href="http://thenextweb.com/apps/2012/04/27/pinry-is-a-self-hosted-version-of-pinterest-that-gives-you-full-control-of-your-pins/" target="_blank"><img src="{{ SITEURL }}/theme/images/as-seen-on/tnw.png"/></a>
                <a href="http://us4.campaign-archive1.com/?u=9735795484d2e4c204da82a29&id=4f9b37c501" target="_blank"><img src="{{ SITEURL }}/theme/images/as-seen-on/pycoder.jpg"/></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
