{% extends "base.html" %}

{% block title %}Tour{% endblock %}

{% block extra_css %}
<style>
    .tour-item {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .number {
        background-color: #ED810E;
        -webkit-border-radius: 50px;
           -moz-border-radius: 50px;
                border-radius: 50px;
        color: white;
        font-family: 'Monoton', sans-serif;
        font-size: 24px;
        margin-left: -55px;
        margin-top: 10px;
        padding: 10px 17px;
        position: absolute;
        text-align: center;
        width: 10px;
    }
</style>
{% endblock %}

{% block yield %}
<div class="container">
    <div class="row">
        <h1>Getting Started With Pinry</h1>
        <p>For a much more in-depth guide please see our
            <a href="/docs/">docs</a>.</p>
    </div>
    <div class="row tour-item">
        <div class="span12">
            <div class="number">1</div> <h3>Drag and drop the bookmarklet into your bookmarks bar.</h3>
            <img src="{{ SITEURL }}/theme/images/tour/1.jpg"/>
        </div>
    </div>
    <div class="row tour-item">
        <div class="span12">
            <div class="number">2</div> <h3>Click on the bookmarklet when you find an image you want to post and select the image.</h3>
            <img src="{{ SITEURL }}/theme/images/tour/2.jpg"/>
        </div>
    </div>
    <div class="row tour-item">
        <div class="span12">
            <div class="number">3</div> <h3>Add an optional description and tags to the post.</h3>
            <img src="{{ SITEURL }}/theme/images/tour/3.jpg"/>
        </div>
    </div>
    <div class="row tour-item">
        <div class="span12">
            <div class="number">4</div> <h3>You're done, the image is now on your board!</h3>
            <img src="{{ SITEURL }}/theme/images/tour/4.jpg"/>
        </div>
    </div>
</div>
{% endblock %}
