/* Start Globals */
a {
    color: #2F3A54;
    text-decoration: none;
}

a:hover {
    color: #74CCB9;
    text-decoration: none;
}
/* End Globals */


/* Start Navigation */
.navbar-inverse .navbar-inner {
    background: none;
    filter: none;
    background-color: #2F3A54;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.navbar .brand {
    position: absolute;
    font-family: 'Monoton', sans-serif;
    font-weight: normal;
    font-size: 36px;
    text-decoration: none;
    margin: 0 0 0 -20px;
    color: #74CCB9;
}

.navbar .container {
    width: 940px;
    margin: 0 auto;
}

.navbar .nav > li > a {
    color: #74CCB9;
}
/* End Navigation */

/* Start Buttons */
.btn-primary {
    background: none;
    filter: none;
    background-color: #353457;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: #504F75;
}

.btn-success {
    background: none;
    filter: none;
    background-color: #42D654;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
}

.btn-success:hover {
    background-color: #69DB77;
}
/* End Buttons */


/* Start Footer */
.footer {
    background: #eceff1;
    color: #bdc1c5;
    padding: 30px 0;
    margin-top: 20px;
}

.footer a {
    color: #bdc1c5;
}

.footer a:hover {
    color: #999;
}
/* End Footer */
