/* Start Globals */
h1 a {
    text-decoration: none;
}
/* End Globals */

/* Start Navigation */
.navbar-inner {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.navbar .brand {
    position: absolute;
    font-family: 'Monoton', sans-serif;
    font-weight: normal;
    font-size: 36px;
    text-decoration: none;
    margin: -8px 0 0 -20px;
}

.navbar .container {
    width: 940px;
    margin: 0 auto;
}
/* End Navigation */

.tile {
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 #ccc;
}

.footer {
    background: #eceff1;
    color: #bdc1c5;
    padding: 30px 0;
}
